.container {

  height: 255px;
  width:1440px;
  display:grid;
  place-items: center;
}

a{
    font-family:serif;
    font-size:55px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}
h6{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: justify;


}

img {
 width:440px;
 height: 170px;

}

