
    #contain {
      width: 1440px;

      background: white;
      background-repeat: no repeat;
        background-position-x: center;
        background-position-y: center;
        background-size:auto ;
    }

    #citaform {
      width: 1182px;
        font-family: serif;
        margin: 10px auto;
        background: rgb(190,206,117);
        background: linear-gradient(0deg, rgba(190,206,117,1) 0%, rgba(241,253,253,1) 100%);
        font-size: 14px;
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
        border-radius: 10px;
    }

      label {
            display: block;
            font-size: 20px;
            padding: 0px;
            color:rgb(7, 11, 11) ;
            text-shadow: 1px 1px 1px rgb(105, 128, 199);

    }

    input {
        display: block;
            font-size: 18px;
            padding:  5px;
    }
    h3 {

        font-family: serif;
        margin: px auto;

        font-size: 16px;
    }

textarea{
  height: 90px;
  width: 50%;
  resize:none
}

.alternativo { color: rgb(94, 64, 7); text-decoration:underline;}




