<div class="row g-0 text-center">

    <div class="col-sm-6 col-md-8">


      <div class="card">
        <div class="card-body">
        <form action="/send-email" method="POST"  >
          <h4> ¿Tienes alguna duda? Contacta con nosotros</h4>
          <div class="form-group">
            <nav>Nombre y apellido</nav>
                        <input type="text" name="name" class="form-control"
                        placeholder="Name" autofocus>
                    </div>
                    <div class="form-group">
                      <nav>Email</nav>
                      <input type="text" name="email" class="form-control"
                      placeholder="Email" >
                  </div>

                  <div class="form-group">
                    <nav>Telefono</nav>
                    <input type="text" name="phone" class="form-control"
                    placeholder="Phone" >
                </div>
                <div class="form-group">
                  <nav>Deja aqui tu comentario:</nav>
              <textarea name="message" rows="4" class="form-control"
                      placeholder="Message"></textarea>
              </div>

            <br>
      <input type="checkbox" style="display:block;">
      <h3 >Acepto recibir información comercial, incluso por correo electrónico.</h3>
      <h3 class="alternativo"  routerLink="/politicaprivacidad">He leido y acepto la politica de privacidad </h3>
      <a routerLinkActive="../politicaprivacidad/" He leído y acepto la   Política de Privacidad ></a>


      <button class=" btn btn-warning btn-block">
        ACEPTO Y ENVIO
        </button>


      </form>
      </div>
      </div>
    </div>
<!--input type=hidden :  un campo hidden se le denomina campo oculto Este tipode control no visualiza nada dentro del formulario.[ngClass]="
  desde el servidor podriamos alivmacenar en un campo oculto un valor que se rescatara al subir el formulario al servidor"
      <input type="hidden" name="_next" value="http://localhost:4200">   -->


      <div class="col-6 col-md-4">

          <div class="modal-map">
            <a href="https://www.google.com/maps/place/Carrer+de+Joaqu%C3%ADn+Costa,+34,+08222+Terrassa,+Barcelona/@41.5650586,2.0242962,17z/data=!4m13!1m7!3m6!1s0x12a492de4ec4c61d:0xdcdd155c1f8b0c4d!2sCarrer+de+Joaqu%C3%ADn+Costa,+34,+08222+Terrassa,+Barcelona!3b1!8m2!3d41.5650586!4d2.0242962!3m4!1s0x12a492de4ec4c61d:0xdcdd155c1f8b0c4d!8m2!3d41.5650586!4d2.0242962" target="_blank">
          <img src="https://img.freepik.com/vector-premium/mapa-punto-ubicacion-destino_34645-957.jpg?w=740"  alt="mapa de posicion" width="500"  ></a>
          </div>
         <!-- <div id="map"></div> -->
                  <div class ="horarios">
          <a>➽ Nos encontramos en c/ Joaquín Costa, 34 Terrasa</a>
          <br>
          <br>
          <h5>También puedes contactar con nosotros en:</h5>
         Nuestro nº de teléfono 633.33.33.33: <a href="tel:63333333">☎ Teléfono </a><br>
         <p> Enviarnos un correo electrónico:
         <a  href="mailto: beautys@gmail.com">click aqui✉</a> </p>
          <h4>⌚ Abierto de 09:00 a.m. hasta 20:00 p.m.</h4>
         </div>
      </div>


  </div>


