  <div id="contain">
  <div id="citaform">
      <h4> ¿Tienes alguna duda? Contacta con nosotros</h4>

    <form action="https://formsubmit.co/runniiter@gmail.com" method="POST" >
      <label for="full-name">Nombre y apellido:</label>
      <input type="text" name="SOLICITUD CITA WEB: Nombre" id="full-name" placeholder="nombre y apellido" required="">
      <label>Email:</label>
    <input type="email" name="email" placeholder="su email de contacto"  />
    <label for="telephone">Numero de telefono:</label>
    <input type="telephone" name="telefono de contacto" id="telephone" placeholder="(655-555-555)">
    <label>¿ Ha visitado anteriormente nuestro centro? </label>
    <input type="text" name="clienta nueva" placeholder="conteste si o no"/>
    <label>¿Prefiere que contactemos telefonicamente o por email?:</label>
    <input type="text" name="Preferencia de contacto" placeholder="su preferencia: telefono o email"/>
    <label>Comentarios </label>
    <textarea name="mensaje" ml>  </textarea>

    <h3 >Acepto recibir información comercial, incluso por correo electrónico.</h3>
    <h3 class="alternativo"  routerLink="/politicaprivacidad">He leido y acepto la politica de privacidad </h3>
    <a routerLinkActive="../politicaprivacidad/" He leído y acepto la   Política de Privacidad ></a>

    <button class="btn btn-warning" id="my-form-button" type="submit">ACEPTO Y ENVIO</button>
    <p id="my-form-status"></p>






  <input type="hidden" name="_next" value="http://localhost:4200">

  <input type="hidden" name="_next" value="http://localhost:4200">
  <input type="hidden" name="_captcha" value="false">
</form>


  </div>
  </div>







