
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cuidados Corporales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Cuidados Faciales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pack Relax</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Depilacion</a>
  <li class="logo">
    <a class="nav-link" href="#">Sobre nosotros</a></li>
 <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">User</a>
  </li>

<li class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    TU CITA
  </button>
  <form class="dropdown-menu p-4" style="">
    <div class="mb-3">
      <label for="exampleDropdownFormEmail2" class="form-label">Introduce tu Email </label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormPassword2" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
    </div>
    <div class="mb-3">
      <div class="dropdown-divider"></div>
   <a class="dropdown-item" href="#">Aun no tienes acceso? Unete </a>
   <a class="dropdown-item" href="#">Olvidaste tu contraseña?</a>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Recordar
        </label>
        <button type="submit" class="btn btn-primary">Registrate</button>
      </div>


  </form>
</li>







</ul>






