.contenedor-categorias{
  margin-top: 100px;
}


.categoria-descripcion {
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  font-size: 16px;
}

.categoria-imagen {
  display: column;
  vertical-align: top;
  width: 40%;
  margin: 10px;
}
.categorias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nombre boton"
    "foto foto";
  gap: 10px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.servicios{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  text-align: center;
}
.nombre {
  grid-area: nombre;
}

.foto {
  grid-area: foto;
}

.boton {
  grid-area: boton;
}


button{
  border-radius: 10px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #EC994B;
  color: white;
  border: none;
  margin-bottom: 10px;
}

h4 {
  font-size: 22px;
  margin-top: 10px;
}
