<div class="contenedor-categorias">
<h3>Nuestros Servicios</h3>
<div class="categorias">
  <div>
    <img src="../../assets/categorias/cuidados-faciales.png" alt="">
    <h4>Cuidados Faciales</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat <br>ipsum mi, vitae volutpat massa gravida id.
      Nullam faucibus pellentesque <br>sollicitudin .Nunc et urna venenatis, blandit ipsum eget, placerat risus.</p>
      <button>Ver Mas</button>
  </div>
  <div>
    <img src="../../assets/categorias/cuidados-corporales.png" alt="">
    <h4>Cuidados Coporales</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat <br>ipsum mi, vitae volutpat massa gravida id.
      Nullam faucibus pellentesque <br>sollicitudin .Nunc et urna venenatis, blandit ipsum eget, placerat risus.</p>
      <button>Ver Mas</button>
  </div>
  <div>
    <img src="../../assets/categorias/pack-relax.png" alt="">
    <h4>Pack Relax</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat <br>ipsum mi, vitae volutpat massa gravida id.
      Nullam faucibus pellentesque <br>sollicitudin .Nunc et urna venenatis, blandit ipsum eget, placerat risus.</p>
      <button>Ver Mas</button>
  </div>
  <div>
    <img src="../../assets/categorias/depilacion.png" alt="">
    <h4>Depilacion</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque feugiat <br>ipsum mi, vitae volutpat massa gravida id.
      Nullam faucibus pellentesque <br>sollicitudin .Nunc et urna venenatis, blandit ipsum eget, placerat risus.</p>
      <button>Ver Mas</button>
  </div>
</div>
</div>
