<div class="container">
    <ul>
        <li *ngFor="let categoria of categorias" (click)="getServicios(categoria._id)">
            
            Nombre: {{ categoria.nombre }}, 
            imagen: <img class="imgcategorias" src={{this.serverimg+categoria.foto}}>

        </li>

    </ul>
    <ul>
        <li *ngFor="let servicio of servicios"> 
            <a [routerLink]="['/calendar', servicio._id]" (click)=toCalendar(servicio._id) >
                {{servicio._id}}
                {{servicio.nombre}} 
            </a>
             
             <img class="imgcategorias" src={{this.serverimg+servicio.foto}}>
    
        </li>
    
    </ul>

</div>