<div class="navbarlist">


<ul class="nav justify-content ">
  <li class="nav-item" >
    <a class="nav-link active " aria-current="page" routerLink="/home">Inicio</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Cuidados Faciales
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="#">Higiene facial</a></li>
      <li><a class="dropdown-item" routerLink="#">Tratamiento facial</a></li>
      <li><a class="dropdown-item" routerLink="#">Facial High-Tech</a></li>
      <li><a class="dropdown-item" routerLink="#">Masaje facial</a></li>
      <li><a class="dropdown-item" routerLink="#">Microneedling</a></li>
      <li><a class="dropdown-item" routerLink="#">Maderoterapia facial</a></li>
    </ul>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cuidados Corporales
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="#">Exfoliación y tratamiento de espalda</a></li>
        <li><a class="dropdown-item" routerLink="#">Masaje relajante</a></li>
        <li><a class="dropdown-item" routerLink="#">Masaje desconstracturante</a></li>
        <li><a class="dropdown-item" routerLink="#">Masaje de piernas</a></li>
        <li><a class="dropdown-item" routerLink="#">Maderoterpia corporal </a></li>
        <li><a class="dropdown-item" routerLink="#">Criolipolisis</a></li>
      </ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pack Relax
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#">BeautyClic Zen</a></li>
          <li><a class="dropdown-item" routerLink="#">Spa BeautyClic</a></li>
          <li><a class="dropdown-item" routerLink="#">Spa BeautyClic Maracuyá</a></li>
          <li><a class="dropdown-item" routerLink="#">Spa BeautyClic Choco</a></li>
          <li><a class="dropdown-item" routerLink="#">Spa BeautyClic Oro</a></li>
          <li><a class="dropdown-item" routerLink="#">Spa BeautyClic Uva Roja</a></li>
        </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Depilación
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Pequeña (cera)</a></li>
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Mediana (cera)</a></li>
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Grande (cera)</a></li>
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Pequeña (Láser)</a></li>
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Mediana (Láser)</a></li>
            <li><a class="dropdown-item" routerLink="#">Depilacion zona Grande (Láser)</a></li>
          </ul>

  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="#">Sobre nosotros</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" routerLink="/contacto">Contacto</a>
  </li>


<!--   ANULO EL BOTON DE CITA ,DE MOMENTO, YA QUE NO ESTA CLARO SU FUNCION AQUI !! :-)

  <li class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
    TU CITA
  </button>
  <form class="dropdown-menu p-4" style="">
    <div class="mb-3">
      <label for="exampleDropdownFormEmail2" class="form-label">Introduce tu Email </label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormPassword2" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
    </div>
    <div class="mb-3">
      <div class="dropdown-divider"></div>
   <a class="dropdown-item" href="#">Aun no tienes acceso? Unete </a>
   <a class="dropdown-item" href="#">Olvidaste tu contraseña?</a>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Recordar
        </label>
        <button type="submit" class="btn btn-warning">Registrate</button>
      </div>


  </form>
</li>  -->
</ul>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="hora" ></p>
    <br>
          <br>
      <p>
      Horario de 09:00 am </p>
      <p>Hasta 20.00 pm</p>

    <a class="btn btn-warning btn-lg" routerLink="login" role="button">Pide tu Cita</a>
  </div>
</div>


