 
 
<div class="container">
  <div class="calendar-card">
  <mat-card >
    <!--binding selectedDate, minDate, masxDate definido en ts, -->
    <mat-calendar 
    
    [minDate]="minDate"
    [maxDate]="maxDate"
    [dateFilter]="deshabilitaDias" 
    [selected]="selectedDate" 
    (selectedChange)="onSelect($event)"     
      >
    </mat-calendar>
   </mat-card> 
 
  <mat-chip-listbox aria-label="Dog selection">
    <mat-chip-option *ngFor="let trabajador of trabajadores">
      <img matChipAvatar src={{this.serverimg+trabajador.foto}} alt="Photo of a Shiba Inu" />
      {{trabajador.nombre}}
    </mat-chip-option>
    
  </mat-chip-listbox>
</div>
<div *ngIf="horariocreado"  > 
  <h2>{{this.dia}} {{this.mes[this.mesN]}} {{this.anyo}} </h2>
  <mat-selection-list class="rightlist" #horas [multiple]="false" >
    <mat-list-option *ngFor="let hora of horarioStr" [value]="hora">
      {{hora}}
    </mat-list-option>
  </mat-selection-list>

  
  <p>
    Hora seleccionada: {{horas.selectedOptions.hasValue() ? horas.selectedOptions.selected[0].value : 'None'}}
  </p>
  <button mat-button color="primary" (click)="postcita()">Confirmar</button>
</div>
</div>
 

 
