 
 
<div class="container">
  <div class="calendar-card">
  <mat-card >
    <!--binding selectedDate, minDate, masxDate definido en ts, -->
    <mat-calendar 
    [minDate]="minDate"
    [maxDate]="maxDate"
    [dateFilter]="deshabilitaDias" 
    [selected]="selectedDate" 
    (selectedChange)="onSelectCalendar($event)"     
      >
    </mat-calendar>
   </mat-card> 

 
<mat-chip-listbox [disabled]="enableChipList()" (change)="selectedChip($event)"  aria-label="seleccion de trabajador">
  <mat-chip-option  [value]="trabajador" class="chip" *ngFor="let trabajador of trabajadores">
    <img    src={{this.serverimg+trabajador.foto}} class="chipimg" alt="Foto de ,,,"/>
    {{trabajador.nombre}}
  </mat-chip-option>
  
</mat-chip-listbox>

</div>
<div *ngIf="muestrahoras"> 
  <h2>{{this.dia}} de {{this.mes[this.mesN]}} de  {{this.anyo}} </h2>
  <mat-selection-list class="rightlist" #horas [multiple]="false"
  (selectionChange)="onSelectListChange($event)">
    <mat-list-option *ngFor="let hora of horarioStr" [value]="hora">
      {{hora}}
    </mat-list-option>
  </mat-selection-list>

  
  <p>
    Hora seleccionada: {{horas.selectedOptions.hasValue() ? horas.selectedOptions.selected[0].value : 'None'}}
  </p>
  <button [disabled]="enableButtonSaveCita()" mat-button color="primary" (click)="guardarcita()">Confirmar</button>
</div>
</div>
 

 
