<div class="container">
  <mat-card class="calendar-card">
    <!--binding selectedDate, minDate, masxDate definido en ts, -->
    <mat-calendar 
    [minDate]="minDate"
    [maxDate]="maxDate"
    [dateFilter]="deshabilitaDias" 
      (selectedChange)="dateChanged($event)"
      >
    </mat-calendar>
  </mat-card> 
  {{todayDate | date:'shortTime'}} 
  {{evento}}
<!--
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef>
        {{column.header}}
      </th>
      
      <td mat-cell *matCellDef="let row">
        {{column.cell(row)}}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
-->
<!--
<mat-list class="list">
  <mat-list-item>{{todayDate | date:'shortDate':'fr'}}</mat-list-item>
  <mat-list-item>10:00 Mañana: Pepe, Juana</mat-list-item>
  <mat-list-item>12:00 Mañana: Luisa (habria que poner fotos)</mat-list-item>
  <mat-list-item>16:00 Tarde: Juana</mat-list-item>
</mat-list>


</div>-->