<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>

<hr style="color:black; opacity: 100; margin-bottom: 3em; margin-top: 2em;">
<div class="footer-container">
  
  
  <div class="footer-box-normal">
    <h2>Contáctanos</h2>
    <div class="footer-content">
      Teléfono: +3466427389<br>
      <a href="mailto:beautyclic@gmail.com">Email: beautyclic@gmail.com</a><br>
      <br>
      Calle Sant Pau nº12<br>
      08002 Barcelona<br>
      <br>
      Abierto de Lunes a Sábado<br>
      de 09:00 a 20:00<br>
    </div>

  </div>
  <div class="footer-box-normal">
    <h2>Atención al Cliente</h2>
    <div class="footer-content">
      <a href="#" src="">Preguntas Frecuentes</a><br>
      <a href="#" src="">Tarifas y Precios</a><br>
      <a href="#" src="">Seguridad y privacidad</a><br>
      <a href="#" src="">Términos y Condiciones</a><br>
    </div>

  </div>
  <div class="footer-box-normal">
    <div class="footer-centered">
      <h2>Síguenos</h2>
    
    
      <div class="footer-content">      
        <a href="https://es-es.facebook.com/" target="_blank"
          ><i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <i class="fa fa-twitter fa-2x fa"></i>
        </a>
      </div>
    </div>
    
  </div>
  <div class="footer-box-big">
    <h2>Únete a nuestra Newsletter</h2>
    <div class="footer-content">
      <input  type="text" placeholder="Email" />
      <h2>Política de Privacidad</h2>
      <input type="checkbox" /> Acepto la política de privacidad
      <br>
      <button>Enviar</button>
    </div>

  </div>

</div>


<div class="footer-clic">
    <div class="siguenos">
      <h5>Síguenos</h5>
      <i class="fa fa-instagram"></i>
      <a href="https://es-es.facebook.com/" target="_blank"
        ><i class="fa fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa fa-twitter fa-2x fa"></i>
      </a>
    </div>
    <div class="beauty-clic">
      <div class="location-clic">
        <h5>BeautyClic</h5>
        <i class="fa-solid fa-location-dot"></i>
        <span
          >Carrer de Joaquín Costa, 34,<br />08222 Terrassa, Barcelona</span
        >
      </div>
      <div class="location-clic">
        <a
          href="https://www.google.com/intl/es/gmail/about/"
          target="_blank"
        >
          <i class="fa-solid fa-envelope"></i>
          <span>beautyclic@gmail.es</span>
        </a>
      </div>
      <div class="location-clic">
        <i class="fa-solid fa-mobile"></i>
        <span>+34 931 245 678</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="footer-container">
    <div class="footer_bottom">
      <div class="condiciones-politicas">
        <a href="#" title="Condiciones de uso"
          ><strong>CONDICIONES DE USO</strong></a
        >
        |
        <a href="#" title="Política de privacidad redes sociales"
          >Política de privacidad redes sociales</a
        >
        |
        <a href="#" title="Politica de cookies"
          ><b>POLÍTICA DE COOKIES</b></a
        >
        |
        <a href="#" title="Condiciones de Contratación"
          >Condiciones de Contratación</a
        >
      </div>
    </div>
  </div>

