<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>

<hr style="color:black; opacity: 100; margin-bottom: 3em; margin-top: 2em;">

<div class="footer-container">
  
  
  <div class="footer-box-normal">
    <h2>Contáctanos</h2>
    <div class="footer-content">
      Teléfono: +3466427389<br>
      <a href="mailto:beautyclic@gmail.com">Email: beautyclic@gmail.com</a><br>
      <br>
      Calle Sant Pau nº12<br>
      08002 Barcelona<br>
      <br>
      Abierto de Lunes a Sábado<br>
      de 09:00 a 20:00<br>
    </div>

  </div>
  <div class="footer-box-normal">
    <h2>Atención al Cliente</h2>
    <div class="footer-content">
      <a href="#" src="">Preguntas Frecuentes</a><br>
      <a href="#" src="">Tarifas y Precios</a><br>
      <a routerLink="/politicaprivacidad">Seguridad y privacidad</a><br>
      <a href="#" src="">Términos y Condiciones</a><br>
    </div>

  </div>
  <div class="footer-box-normal">
    <div class="footer-centered">
      <h2>Síguenos</h2>
    
    
      <div class="footer-content">      
        <a href="https://es-es.facebook.com/" target="_blank">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <i class="fa fa-twitter fa-2x fa"></i>
        </a>
      </div>
    </div>

  </div>
  <div class="footer-box-big" *ngIf="newsAsk">
    <h2>Únete a nuestra Newsletter</h2>
    <div class="footer-content" *ngIf="newsAsk">
      
      <form [formGroup]="newsForm" (ngSubmit)="send();">
        <input  type="text" formControlName="email" 
            placeholder="Email" class="news-email" width="50px"/>    

        <div class="news_error" *ngIf="email.errors && submited">
          Debe introducir un email válido.
        </div>
            
        
        <h4>Política de Privacidad</h4>
        <div class="cb_container">
          <input type="checkbox"  formControlName="accepting" class="news-check"/> 
          <div class="polit_text">
            <a href="" title="Política de privacidad">Acepto la política de privacidad *</a>
          </div>
        </div>

        <div class="news_error" *ngIf="accepting.errors && submited">
          Debe aceptar la política de privacidad para poder continuar.
        </div>
        
        <div class="center_btn">
          <button class="news-btn">Enviar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="footer-box-big" *ngIf="!newsAsk">
    <h2>Bienvenido a la Newsletter</h2>
    
    <div class="footer-content">
      <p>Las últimas noticias y nuevas ofertas en nuestra Newsletter.</p>
      <p>Como cada semana, en su email.</p>
    </div>
  </div>

</div>

  

